table {
    font-family: Arial, sans-serif;
    font-size: 14px;
    border-collapse: collapse;
    width: 100%;
    margin: 10px 0 0 0;
    table-layout: fixed;
}

table td,
table th {
    height: 50px;
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    word-break: break-all;
    white-space: nowrap;
    text-align: left;
    padding: 10px;
}

table tr:nth-child(even) {}

table tr:hover {
    /*background-color: yellowgreen;*/
    overflow: visible;
    white-space: normal;
    height: auto;
}

table .t1 {
    width: 10%;
    white-space: nowrap;
    overflow: hidden;
}

table .t1:hover {
    width: 10%;
}

table .t2 {
    width: 20%;
}

table .t2:hover {
    width: 20%;
}

table .t3 {
    width: 10%;
}

table .t4 {
    width: 10%;
}

table .t4 {
    width: 11%;
}

table .t5 {
    width: 8%;
}

table .t6 {
    width: 9%;
}

tr>td:hover {
    overflow: visible;
    white-space: unset;
}

.card {
    border: none !important;
}

.card-header {
    border: none !important;
    padding-bottom: 0px;
}

.card-body {
    border: none !important;
}

.card-footer {
    border: none !important;
}

.bg-thead {
    background-color: #fafafa;
    border-bottom: 2px solid #cccccc;
}

.bg-tfoot {
    background-color: #f7f7f7;
    border-bottom: 1px solid #cccccc;
    border-top: 2px solid #cccccc;
}

.bg-tbody-strip {
    background-color: #fdfbfb;
}

.tbl-thead {
    font-size: 14px;
    font-weight: 100;
}

.tbl-tsubhead {
    font-size: 0.95em;
    font-weight: 500;
    padding-top: 30px;
}

.tbl-tbody {
    font-size: 13px;
}

.tbl-tfoot {
    font-size: 1.0em;
    font-weight: 600;
}

.table-striper tbody tr:nth-of-type(even) {
    background-color: #f8fbfb;
    /*border-top: 1px solid #e1e1e1;*/
}

.loading {
    position: absolute;
    z-index: 999;
    background: #675252b0;
    filter: alpha(opacity=70);
    -moz-opacity: .70;
    opacity: .70;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    z-index: 9999;
}

.loading>img {
    position: relative;
    top: 20%;
    max-height: 150px;
    width: auto;
}

.loading>.loading_msg {
    position: relative;
    top: 18%;
    color: #000;
}

#snackbar {
    visibility: hidden;
    min-width: 315px;
    background-color: #03a9f4;
    color: #fff;
    text-align: left;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 4;
    right: 10px;
    font-size: 17px;
    bottom: 49px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}